/*--------------------------------------------------------------------------------------------------------------------------------------------*/
/* General */

html {
    scroll-behavior: smooth;
    --color1: #000;
    --color2: #fff;
    font-family: 'DM Sans', sans-serif;
    background-color: var(--color2);
}

body, p, a, h1, h2, h3, h4, h5, h6, ul, li {
    margin: 0;
    text-decoration: none;
}

/*--------------------------------------------------------------------------------------------------------------------------------------------*/
/* Header */

@media only screen and (min-width: 600px) {
    header {
        height: 5vh;
        display: flex;
        align-items: center;
        margin-top: 2vh;
        margin-left: 4vh;
        margin-right: 4vh;
    }

    header p {
        font-size: calc(0.75vw + 0.75vh);
        color: var(--color1);
        font-weight: 700;
        width: 60vw;
    }

    #links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 40vw;
    }

    header a {
        font-size: calc(0.75vw + 0.75vh);
        color: var(--color1);
    }

    header a:hover {
        font-style: italic;
    }

    #name {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        margin-top: 2vh;
        margin-left: 4vh;
        margin-right: 4vh;
    }

    header p {
        display: none;
        font-size: calc(1vw + 1vh);
        color: var(--color1);
        font-weight: 700;
        text-align: center;
    }

    #links {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100vw;
    }

    header a {
        font-size: calc(1.5vw + 1.5vh);
        color: var(--color1);
    }

    header a:hover {
        font-style: italic;
    }

    #name {
        color: var(--color2);
        font-size: calc(1.3vw + 1.3vh);
        font-weight: 300;    
    }
}

/*--------------------------------------------------------------------------------------------------------------------------------------------*/
/* Main */

#main {
    margin: 2vh;
    background: url('background9.jpg') center/200% no-repeat;
    /*background-color: red;*/
    border-radius: 4vh;
    height: 89vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main p {
    text-align: center;
    font-size: calc(4vw + 4vh);
    color: var(--color2);
    font-weight: 300;
}

#scroll {
    font-size: calc(1vw + 1vh);
    color: var(--color2);
    font-weight: 300;
}

/*--------------------------------------------------------------------------------------------------------------------------------------------*/
/* About me */

#about-me {
    margin: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@media only screen and (min-width: 700px) {
    #about-me a {
        font-size: calc(0.75vw + 0.75vh);
        color: var(--color1);
        padding-bottom: 1vh;
    }
}

@media only screen and (max-width: 700px) {
    #about-me a {
        font-size: calc(1.5vw + 1.5vh);
        color: var(--color1);
        padding-bottom: 1vh;
    }
}

#about-me p {
    text-align: center;
    font-size: calc(1.5vw + 1.5vh);
    color: var(--color1);
    width: 70vw;
    text-align: center;
}

/*--------------------------------------------------------------------------------------------------------------------------------------------*/
/* Works */

#works {
    margin: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (min-width: 700px) {
    #works a {
        font-size: calc(0.75vw + 0.75vh);
        color: var(--color1);
        padding-bottom: 2vh;
    }

    .work-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .work {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 30vw;
        border-radius: 4vh;
        padding-left: 2vh;
        padding-right: 2vh;
    }

    .work img {
        width: 30vw;
        height: 20vw;
        object-fit: cover;
        border-radius: 4vh;
    }

    .work-text-container {
        padding-top: 1vh;
    }
    
    #work-title {
        font-size: calc(1vw + 1vh);
        color: var(--color1);
        font-weight: 400;
        text-align: center;
    }
    
    #work-text {
        font-size: calc(0.75vw + 0.75vh);
        color: var(--color1);
        font-weight: 400;
        text-align: justify;
    }
}

@media only screen and (max-width: 700px) {
    #works a {
        font-size: calc(1.5vw + 1.5vh);
        color: var(--color1);
        padding-bottom: 2vh;
    }

    .work-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .work {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80vw;
        border-radius: 4vh;
        padding-left: 2vh;
        padding-right: 2vh;
        padding-top: 2vh;
    }

    .work img {
        width: 80vw;
        height: 60vw;
        object-fit: cover;
        border-radius: 4vh;
    }

    .work-text-container {
        padding-top: 1vh;
        padding-bottom: 3vh;
    }
    
    #work-title {
        font-size: calc(1.5vw + 1.5vh);
        color: var(--color1);
        font-weight: 400;
        text-align: center;
    }
    
    #work-text {
        font-size: calc(1.2vw + 1.2vh);
        color: var(--color1);
        font-weight: 400;
        text-align: justify;
    }
}



/*--------------------------------------------------------------------------------------------------------------------------------------------*/
/* Footer */

@media only screen and (min-width: 600px) {
    footer {
        background: url('background9.jpg') center/200% no-repeat;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 20vh;
        margin-top: 10vh;
        margin-left: 2vh;
        margin-right: 2vh;
        margin-bottom: 2vh;
        border-radius: 4vh;
    }

    footer a {
        padding: 5vh;
        font-size: calc(2vw + 2vh);
        color: var(--color2);
    }

    footer a:hover {
        font-style: italic;
    }
}

@media only screen and (max-width: 600px) {
    footer {
        background: url('background9.jpg') center/200% no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-top: 10vh;
        margin-left: 2vh;
        margin-right: 2vh;
        margin-bottom: 2vh;
        border-radius: 4vh;
    }

    footer a {
        padding: 5vh;
        font-size: calc(4vw + 4vh);
        color: var(--color2);
    }

    footer a:hover {
        font-style: italic;
    }
}



